.navbar {
  color: #fff;
}

.outer-container {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
}

@media (min-width: 40em) {
  .outer-container {
    grid-template-columns: 1fr 1fr;
  }
}
.heading-box {
  color: white;
  margin: 5rem 0 0 0;
  min-width: 80%;
  justify-self: center;
  padding: 0 4rem;
}

.row-size {
  max-width: 25rem;
  margin: 0;
  display: flex;
  justify-self: center;
}

.bold-italic {
  font-weight: bold;
  font-style: italic;
}

.check-btn {
  background-color: #fff;

  margin: 1rem 0 0 3rem;
  padding: 0.3rem 1.6rem 0;

  font-weight: 650;
  font-style: italic;
  font-size: 1.1em;

  border: none;
  border-radius: 0 2em 2em 0;
}
.check-btn > img {
  margin-left: 1.2rem;
}

.overflow-check {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.image img {
  display: block;
  max-width: 80%;
}
.image {
  display: none;
}

@media (min-width: 40em) {
  .image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
